<!--
   ~  THE BEER-WARE LICENSE (Revision 42):
   ~  
   ~  <dev@GabrielCastro.ca> wrote this app.
   ~  As long as you retain this notice you can do whatever
   ~  you want with this stuff. If we meet some day, and you
   ~  think this stuff is worth it, you can buy me a beer in return
   ~  -  Gab 2013
   -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.GabrielCastro.improveyoutube"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:singleUser="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
     <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>
